# Data Exploration and Preprocessing

In this notebook, we will load the dataset, explore it, and perform necessary preprocessing tasks.

In [1]:
# Import necessary libraries
import pandas as pd

from src.utils import fetch_data_from_db
from src.preprocessing import preprocess_data
from src.utils import save_data_to_db

## Load the Data

We will load the data from postgres database into a pandas DataFrame.

In [2]:
query = "SELECT * FROM xdr_data"
df = fetch_data_from_db(query)

## Data Overview

In [3]:
# Print the first few rows of the DataFrame
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [4]:
# Print the shape of the DataFrame
df.shape

(150001, 55)

In [5]:
# Check the DataFrame's information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB
None

In [6]:
# Describe the DataFrame
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [7]:
# Check for missing values
df.isnull().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [8]:
# Check for duplicates
df.duplicated().sum()

0

## User Overview analysis

An overview of the user's behavior on the applications

### Top 10 handsets used by the customers

In [9]:
# Identify the top 10 handsets used by the customers
top_10_handsets = df['Handset Type'].value_counts().head(10)
print(top_10_handsets)

Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: Handset Type, dtype: int64

### Top 3 handset manufacturers

In [10]:
# Identify the top 3 handset manufacturers
top_3_manufacturers = df['Handset Manufacturer'].value_counts().head(3)
print(top_3_manufacturers)

Apple      59565
Samsung    40839
Huawei     34423
Name: Handset Manufacturer, dtype: int64

In [11]:
# Identify the top 5 handsets per top 3 handset manufacturer
top_5_handsets_per_manufacturer = df[df['Handset Manufacturer'].isin(top_3_manufacturers.index)].groupby('Handset Manufacturer')['Handset Type'].value_counts().groupby(level=0).head(5)
print(top_5_handsets_per_manufacturer)

Handset Manufacturer  Handset Type
Apple                 Apple iPhone 6S (A1688)            9419
                      Apple iPhone 6 (A1586)             9023
                      Apple iPhone 7 (A1778)             6326
                      Apple iPhone Se (A1723)            5187
                      Apple iPhone 8 (A1905)             4993
Huawei                Huawei B528S-23A                  19752
                      Huawei E5180                       2079
                      Huawei P20 Lite Huawei Nova 3E     2021
                      Huawei P20                         1480
                      Huawei Y6 2018                      997
Samsung               Samsung Galaxy S8 (Sm-G950F)       4520
                      Samsung Galaxy A5 Sm-A520F         3724
                      Samsung Galaxy J5 (Sm-J530)        3696
                      Samsung Galaxy J3 (Sm-J330)        3484
                      Samsung Galaxy S7 (Sm-G930X)       3199
Name: Handset Type, dtype: int64

In [12]:
categorical_features = ['Handset Manufacturer', 'Handset Type']

## Data Preprocessing

We will preprocess the data by performing the following tasks:
- Handle missing values
- Encode categorical variables
- Scale numerical variables

In [13]:
# Define the columns to be used in the preprocessing
timestamp_cols = ['End', 'Start']
numeric_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Perform data preprocessing
clean_data = preprocess_data(df, timestamp_cols, numeric_features, None)

In [14]:
# Convert the transformed data back to a DataFrame
clean_data_df = pd.DataFrame(clean_data)

In [15]:
# compare the first few rows of the original and transformed data
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Total UL (Bytes),Total DL (Bytes),End_hour,End_day_of_week,End_day_of_month,End_month,Start_hour,Start_day_of_week,Start_day_of_month,Start_month
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,36749741.0,308879636.0,14.0,3.0,25.0,4.0,12.0,3.0,4.0,4.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,53800391.0,653384965.0,8.0,3.0,25.0,4.0,13.0,1.0,9.0,4.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,27883638.0,279807335.0,11.0,3.0,25.0,4.0,17.0,1.0,9.0,4.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,43324218.0,846028530.0,7.0,3.0,25.0,4.0,0.0,2.0,10.0,4.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,38542814.0,569138589.0,10.0,3.0,25.0,4.0,20.0,4.0,12.0,4.0

In [16]:

# Display the first few rows of the DataFrame
clean_data_df.head()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.031911,0.938332,0.566475,21.213047,-0.008932,-0.003370,-0.578959,-1.212064e-01,-0.165464,-0.553863,...,0.628941,-1.340826,-0.509712,-0.211575,-0.590090,1.266183,-1.025295,0.115243,-0.387668,-0.597047
1,1.031911,-0.915382,0.372095,15.554551,0.012569,-0.003363,-0.566766,-8.008661e-02,-0.165464,-0.554155,...,1.283550,1.276880,0.997973,0.978915,0.765290,-1.488221,0.435041,1.423855,1.124409,0.814043
2,1.031911,-1.726165,0.531765,15.513311,-0.061789,-0.003331,-0.589672,-2.540644e-17,0.000000,-0.554572,...,1.205802,0.581550,0.886360,-0.760810,-0.788879,-1.650280,-0.042795,-0.849035,-1.173927,-0.716127
3,1.031911,-0.045696,-1.137819,15.016588,-0.011065,-0.003335,-0.586315,-2.540644e-17,0.000000,-0.552987,...,1.453540,0.652005,0.352078,-1.557333,1.547316,0.535541,1.348412,0.950408,0.195366,1.603109
4,1.031911,0.228030,1.580027,12.147531,-0.011108,-0.003355,-0.584063,-2.540644e-17,0.000000,-0.554572,...,0.540240,1.253421,0.817482,-1.664689,0.433102,-0.994964,0.532922,1.183799,-0.228656,0.468971

## check the cleaned data

In [21]:
# Check the DataFrame's information
clean_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 50 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start ms                                  150001 non-null  float64
 2   End ms                                    150001 non-null  float64
 3   Dur. (ms)                                 150001 non-null  float64
 4   IMSI                                      150001 non-null  float64
 5   MSISDN/Number                             150001 non-null  float64
 6   IMEI                                      150001 non-null  float64
 7   Avg RTT DL (ms)                           150001 non-null  float64
 8   Avg RTT UL (ms)                           150001 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150001 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 12  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 13  DL TP < 50 Kbps (%)                       150001 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 16  DL TP > 1 Mbps (%)                        150001 non-null  float64
 17  UL TP < 10 Kbps (%)                       150001 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 20  UL TP > 300 Kbps (%)                      150001 non-null  float64
 21  HTTP DL (Bytes)                           150001 non-null  float64
 22  HTTP UL (Bytes)                           150001 non-null  float64
 23  Activity Duration DL (ms)                 150001 non-null  float64
 24  Activity Duration UL (ms)                 150001 non-null  float64
 25  Dur. (ms).1                               150001 non-null  float64
 26  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 27  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 28  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 29  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 30  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 31  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 32  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 33  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 34  Social Media DL (Bytes)                   150001 non-null  float64
 35  Social Media UL (Bytes)                   150001 non-null  float64
 36  Google DL (Bytes)                         150001 non-null  float64
 37  Google UL (Bytes)                         150001 non-null  float64
 38  Email DL (Bytes)                          150001 non-null  float64
 39  Email UL (Bytes)                          150001 non-null  float64
 40  Youtube DL (Bytes)                        150001 non-null  float64
 41  Youtube UL (Bytes)                        150001 non-null  float64
 42  Netflix DL (Bytes)                        150001 non-null  float64
 43  Netflix UL (Bytes)                        150001 non-null  float64
 44  Gaming DL (Bytes)                         150001 non-null  float64
 45  Gaming UL (Bytes)                         150001 non-null  float64
 46  Other DL (Bytes)                          150001 non-null  float64
 47  Other UL (Bytes)                          150001 non-null  float64
 48  Total UL (Bytes)                          150001 non-null  float64
 49  Total DL (Bytes)                          150001 non-null  float64
dtypes: float64(50)
memory usage: 57.2 MB

In [22]:
# Describe the DataFrame
clean_data_df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05
mean,7.489071e-17,1.620027e-17,-2.292669e-17,1.212652e-17,-1.090168e-13,-2.131614e-18,1.085702e-16,-1.932663e-17,1.338180e-17,2.804257e-17,...,-1.233257e-16,-4.466916e-17,8.095988e-17,9.113834e-17,2.842152e-18,-1.338180e-16,-8.313295e-17,2.385039e-16,8.730144e-17,-4.343756e-17
std,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,...,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00
min,-1.117127e+00,-1.729629e+00,-1.731372e+00,-1.202740e+00,-1.937101e+02,-3.395965e-03,-2.146937e+00,-1.962948e-01,-2.307978e-01,-5.548224e-01,...,-1.733692e+00,-1.735005e+00,-1.728843e+00,-1.729975e+00,-1.729917e+00,-1.732989e+00,-1.731456e+00,-1.732999e+00,-3.392449e+00,-1.833076e+00
25%,-9.671942e-01,-8.634083e-01,-8.601338e-01,-5.820368e-01,-1.111507e-02,-3.375254e-03,-5.815777e-01,-1.337212e-01,-1.915973e-01,-5.530286e-01,...,-8.643963e-01,-8.654211e-01,-8.698179e-01,-8.689050e-01,-8.672145e-01,-8.697883e-01,-8.672287e-01,-8.636752e-01,-7.005107e-01,-8.664503e-01
50%,-9.671942e-01,-6.520913e-04,4.162228e-03,-2.247065e-01,-4.349883e-03,-3.370215e-03,-5.699658e-01,-9.975262e-02,-1.393300e-01,-5.521943e-01,...,-2.690318e-03,6.361875e-04,2.284734e-03,-8.445391e-04,5.588474e-03,5.875131e-04,2.888362e-03,4.763224e-04,1.954159e-03,4.904869e-03
75%,1.006922e+00,8.655690e-01,8.719293e-01,3.433174e-01,6.152595e-03,-3.361632e-03,1.682577e+00,-2.540644e-17,0.000000e+00,2.673965e-01,...,8.664638e-01,8.677388e-01,8.689154e-01,8.657191e-01,8.654029e-01,8.662973e-01,8.659030e-01,8.637784e-01,7.017394e-01,8.645066e-01
max,1.056900e+00,1.731790e+00,1.736225e+00,2.165339e+01,2.738202e+02,3.618103e+02,2.258324e+00,1.730845e+02,9.280500e+01,1.522043e+01,...,1.732352e+00,1.733941e+00,1.729665e+00,1.731308e+00,1.727274e+00,1.729237e+00,1.736573e+00,1.739157e+00,3.299847e+00,1.836339e+00

In [23]:
# Check for missing values
clean_data_df.isnull().sum()

Bearer Id                                   0
Start ms                                    0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
dtype: int64

In [24]:
# Check for duplicates
clean_data_df.duplicated().sum()

0

In [25]:
# Check the shape of the DataFrame
clean_data_df.shape

(150001, 50)

### Save the Cleaned Data to Database

In [17]:
save_data_to_db(clean_data_df, 'clean_data')