# Data Exploration and Preprocessing

In this notebook, we will load the dataset, explore it, and perform necessary preprocessing tasks.

In [11]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine, text

## Load the Data

We will load the data from postgres database into a pandas DataFrame.

In [16]:
# Define a dictionary with the connection details
db_config = {
    'username': 'postgres',
    'password': 'pass123',
    'host': 'localhost',
    'port': '5432',
    'database': 'telecom'
}

# Create a connection to the PostgreSQL database
engine = create_engine(f"postgresql://{db_config['username']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}")

# Execute a SQL query and load the result into a DataFrame
query = text("SELECT * FROM xdr_data")
with engine.connect() as conn: 
    df = pd.read_sql_query(query, conn)

# Print the first few rows of the DataFrame
print(df.head())

      Bearer Id            Start  Start ms              End  End ms  \
0  7.349883e+18  4/23/2019 13:56     642.0   4/25/2019 2:06    53.0
1  1.311448e+19  4/23/2019 14:00     501.0  4/24/2019 23:17   453.0
2  1.311448e+19  4/23/2019 14:00     507.0  4/24/2019 23:17   453.0
3  1.311448e+19  4/23/2019 14:00     744.0   4/25/2019 0:24   330.0
4  1.311448e+19  4/23/2019 14:01     369.0   4/25/2019 4:13   905.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI Last Location Name  \
0   130220.0  2.082003e+14   3.368112e+10  3.572961e+13            T10006B
1   119804.0  2.082014e+14   3.369966e+10  3.561431e+13            T92938B
2   119781.0  2.082014e+14   3.369966e+10  3.561431e+13            T92938B
3   123787.0  2.082017e+14   3.362404e+10  8.629340e+13            D21059A
4   137523.0  2.082017e+14   3.366612e+10  3.538111e+13            D42243B

   ...  Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  \
0  ...          21500768.0          12101768.0          12226975.0
1  ...           7277265.0          14808877.0           5404356.0
2  ...          10232699.0           8551438.0           8528398.0
3  ...          15007252.0          16673992.0          14089357.0
4  ...           9633967.0          17836471.0          22432445.0

   Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  \
0          16511157.0        340225685.0          6951608.0       483022848.0
1          17848389.0        281827903.0          3255023.0       746150700.0
2          19632728.0         73444975.0          8167950.0       787793727.0
3           6924105.0        174894914.0            41507.0       345556220.0
4             11400.0        623985913.0         10539036.0       706817241.0

   Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
0        13524725.0        50864502.0       388912579.0
1         1475289.0        38549811.0       305633791.0
2        10773216.0        49161715.0       105009018.0
3          837674.0        28422142.0       209975300.0
4        11317378.0        43951635.0       661274286.0

[5 rows x 55 columns]