In [3]:
from src.utils import fetch_telecom_data
from src.preprocessing import preprocess_data

# Load the data from the database

In [4]:
# Load the data
df = fetch_telecom_data()

# Preprocess the data:
- (treat missing & outliers by replacing by the mean or the mode of the corresponding variable)

In [5]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:


# Define the columns
timestamp_cols = ['Start', 'End']
numeric_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = ['IMSI', 'MSISDN/Number', 'IMEI', 'Last Location Name', 'Handset Type', 'Handset Manufacturer']

# Preprocess the data
df_preprocessed = preprocess_data(df, timestamp_cols, numeric_features, categorical_features, numeric_scaling=None)

In [7]:
df_preprocessed.head()

,Bearer Id,Start ms,End ms,Dur. (ms),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),...,Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes),IMSI,MSISDN/Number,IMEI,Last Location Name,Handset Type,Handset Manufacturer
0,13114483460844900352.0,770.0,662.0,1823652.0,42.0,5.0,23.0,44.0,20809914.270342,759658.664811,...,171744450.0,8814393.0,36749741.0,308879636.0,208201448079117.0,33664962239.0,35521209507511.0,9.16456699548519E+015,Samsung Galaxy A5 Sm-A520F,Samsung
1,13114483482878900224.0,235.0,606.0,1365104.0,65.0,5.0,16.0,26.0,20809914.270342,759658.664811,...,526904238.0,15055145.0,53800391.0,653384965.0,208201909211140.0,33681854413.0,35794009006359.0,L77566A,Samsung Galaxy J5 (Sm-J530),Samsung
2,13114483484080500736.0,1.0,652.0,1361762.0,109.795706,17.662883,6.0,9.0,20809914.270342,759658.664811,...,410692588.0,4215763.0,27883638.0,279807335.0,208200314458056.0,33760627129.0,35281510359387.0,D42335A,Samsung Galaxy A8 (2018),Samsung
3,13114483485442799616.0,486.0,171.0,1321509.0,109.795706,17.662883,44.0,44.0,20809914.270342,759658.664811,...,749039933.0,12797283.0,43324218.0,846028530.0,208201402342131.0,33750343200.0,35356610164913.0,T21824A,Huawei B528S-23A,Apple
4,13114483499480700928.0,565.0,954.0,1089009.0,109.795706,17.662883,6.0,9.0,20809914.270342,759658.664811,...,550709500.0,13910322.0,38542814.0,569138589.0,208201401415120.0,33699795932.0,35407009745539.0,D88865A,Samsung Sm-G390F,Samsung

In [6]:
df_preprocessed.columns

Index(['Bearer Id', 'Start ms', 'End ms', 'Dur. (ms)', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1',
       'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)', 'IMSI', 'MSISDN/Number', 'IMEI',
       'Last Location Name', 'Handset Type', 'Handset Manufacturer'],
      dtype='object')

# Save the preprocessed data

In [8]:
# Save the preprocessed data
from src.utils import save_data_to_db
save_data_to_db(df_preprocessed, 'clean_data')

# Task 4.1
## Aggregate , per customer, the following information:
- Average TCP retransmission
- Average RTT
- Handset type
- Average throughput

In [9]:
# Group the data by 'MSISDN/Number' and calculate the mean of the specified columns
df_grouped = df_preprocessed.groupby('MSISDN/Number').agg({
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'TCP UL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Avg RTT UL (ms)': 'mean',
    'Avg Bearer TP DL (kbps)': 'mean',
    'Avg Bearer TP UL (kbps)': 'mean',
})

# Get the most frequent 'Handset Type' for each customer
most_frequent_handset = df_preprocessed.groupby('MSISDN/Number')['Handset Type'].agg(lambda x: x.value_counts().index[0])

In [10]:
# Add the most frequent 'Handset Type' to the grouped data
df_grouped['Handset Type'] = most_frequent_handset

df_grouped.head()

,TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),Handset Type
MSISDN/Number,,,,,,,
3.360100e+10,20809914.270342,759658.664811,46.0,0.0,37.0,39.0,Huawei P20 Lite Huawei Nova 3E
3.360100e+10,20809914.270342,759658.664811,30.0,1.0,48.0,51.0,Apple iPhone 7 (A1778)
3.360100e+10,20809914.270342,759658.664811,109.795706,17.662883,48.0,49.0,Huawei B528S-23A
3.360101e+10,1066.0,759658.664811,69.0,15.0,204.0,44.0,Apple iPhone 5S (A1457)
3.360101e+10,15079772.135171,390430.332406,57.0,2.5,20197.5,8224.5,Apple iPhone Se (A1723)

# Task 4.2
Compute & list 10 of the top, bottom and most frequent:
- TCP values in the dataset. 
- RTT values in the dataset.
- Throughput values in the dataset.

In [11]:
import pandas as pd

# Define the columns to analyze
columns_to_analyze = ['TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)']

# Convert the columns to numeric data type
for column in columns_to_analyze:
    df_preprocessed[column] = pd.to_numeric(df_preprocessed[column], errors='coerce')

# Now try to print the top 10, bottom 10, and most frequent 10 values again
for column in columns_to_analyze:
    if df_preprocessed[column].dtype != 'object':
        print(f"Column: {column}")
        print("Top 10 values:")
        print(df_preprocessed[column].nlargest(10))
        print("Bottom 10 values:")
        print(df_preprocessed[column].nsmallest(10))
        print("Most frequent 10 values:")
        print(df_preprocessed[column].value_counts().nlargest(10))
        print("\n")

Column: TCP DL Retrans. Vol (Bytes)
Top 10 values:
77979     4.294426e+09
135678    4.291380e+09
34645     4.289877e+09
140813    4.289488e+09
3782      4.288060e+09
119684    4.275259e+09
39637     4.268432e+09
76990     4.259997e+09
59016     4.256650e+09
41209     4.254644e+09
Name: TCP DL Retrans. Vol (Bytes), dtype: float64
Bottom 10 values:
59717     2.0
125094    2.0
2850      4.0
39610     4.0
52488     4.0
60376     4.0
60426     4.0
75093     4.0
100314    4.0
143429    4.0
Name: TCP DL Retrans. Vol (Bytes), dtype: float64
Most frequent 10 values:
TCP DL Retrans. Vol (Bytes)
2.080991e+07    88146
1.330000e+03      433
2.660000e+03      219
3.800000e+01      200
9.200000e+01      192
1.318000e+03      156
5.430000e+02      133
3.990000e+03      114
7.600000e+01      108
5.320000e+03      102
Name: count, dtype: int64


Column: TCP UL Retrans. Vol (Bytes)
Top 10 values:
36203     2.908226e+09
76641     2.636857e+09
67308     2.455600e+09
1505      2.260359e+09
133265    1.751384e+09
35138     1.727810e+09
142220    1.237862e+09
142432    7.948258e+08
66072     7.195718e+08
1381      5.262463e+08
Name: TCP UL Retrans. Vol (Bytes), dtype: float64
Bottom 10 values:
13275     1.0
15253     1.0
36086     1.0
38407     1.0
75087     1.0
78703     1.0
90223     1.0
124053    1.0
138837    1.0
139021    1.0
Name: TCP UL Retrans. Vol (Bytes), dtype: float64
Most frequent 10 values:
TCP UL Retrans. Vol (Bytes)
759658.664811    96649
1330.000000       1910
2660.000000        937
1294.000000        651
3990.000000        548
1318.000000        545
5320.000000        366
6650.000000        271
2636.000000        234
7980.000000        219
Name: count, dtype: int64


Column: Avg RTT DL (ms)
Top 10 values:
30166     96923.0
29927     64640.0
17910     55811.0
5989      54847.0
22851     26971.0
23455     26250.0
1373      25873.0
81274     25602.0
97321     25374.0
100584    24733.0
Name: Avg RTT DL (ms), dtype: float64
Bottom 10 values:
42612     0.0
52225     0.0
60152     0.0
61152     0.0
61345     0.0
103328    0.0
124544    0.0
142526    0.0
143878    0.0
71739     2.0
Name: Avg RTT DL (ms), dtype: float64
Most frequent 10 values:
Avg RTT DL (ms)
109.795706    27829
28.000000      3553
27.000000      3380
34.000000      3296
35.000000      2892
37.000000      2718
36.000000      2645
38.000000      2547
29.000000      2498
26.000000      2488
Name: count, dtype: int64


Column: Avg RTT UL (ms)
Top 10 values:
20027     7120.0
132558    5607.0
85020     5422.0
184       5279.0
95353     4677.0
42107     4226.0
49599     4021.0
137955    3923.0
124795    3093.0
46001     3029.0
Name: Avg RTT UL (ms), dtype: float64
Bottom 10 values:
54     0.0
99     0.0
176    0.0
187    0.0
301    0.0
344    0.0
367    0.0
401    0.0
501    0.0
505    0.0
Name: Avg RTT UL (ms), dtype: float64
Most frequent 10 values:
Avg RTT UL (ms)
17.662883    27812
5.000000     14663
2.000000     14277
1.000000     12826
4.000000     10242
3.000000      7935
6.000000      7518
7.000000      4196
0.000000      4126
8.000000      3209
Name: count, dtype: int64


Column: Avg Bearer TP DL (kbps)
Top 10 values:
120890    378160.0
141262    299257.0
143670    299002.0
149617    276040.0
92193     269362.0
117791    266332.0
115850    265440.0
89577     264448.0
116565    263047.0
41576     254253.0
Name: Avg Bearer TP DL (kbps), dtype: float64
Bottom 10 values:
13      0.0
149     0.0
364     0.0
546     0.0
618     0.0
679     0.0
756     0.0
809     0.0
893     0.0
1185    0.0
Name: Avg Bearer TP DL (kbps), dtype: float64
Most frequent 10 values:
Avg Bearer TP DL (kbps)
23.0    7324
43.0    4352
44.0    4186
6.0     3983
22.0    2867
48.0    2778
63.0    2757
42.0    2689
45.0    2644
47.0    2263
Name: count, dtype: int64


Column: Avg Bearer TP UL (kbps)
Top 10 values:
92379     58613.0
5926      57792.0
137168    57750.0
116895    57006.0
99297     56763.0
91313     54032.0
45409     53572.0
9283      52640.0
91621     52084.0
124763    51562.0
Name: Avg Bearer TP UL (kbps), dtype: float64
Bottom 10 values:
127     0.0
149     0.0
337     0.0
364     0.0
605     0.0
618     0.0
756     0.0
1131    0.0
1151    0.0
1164    0.0
Name: Avg Bearer TP UL (kbps), dtype: float64
Most frequent 10 values:
Avg Bearer TP UL (kbps)
40.0    7794
54.0    6344
47.0    5840
53.0    4835
9.0     3812
52.0    3786
51.0    3646
44.0    3366
46.0    3216
55.0    2871
Name: count, dtype: int64